// main: ../style.scss

.sec5 {
	margin-bottom: 50px;
	
	@media (max-width: $tablet) {
		margin-bottom: 40px;
	}
	@media (max-width: $mobile-sm) {
		margin-bottom: 30px;
	}
}

.sec5-wrap {
	padding-bottom: 60px;
	background-image: url("../images/back1.png");
	width: 100%;
	height: auto;
	min-height: 535px;
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: top;
  	
  	@media (max-width: $tablet) {
		padding-bottom: 40px;
	}
	@media (max-width: $mobile-sm) {
		padding-bottom: 30px;
	}
}

.sec5__inner {
	text-align: center;
	
	p, 
	cite {
		color: lighten($gray,30%);
	}
}

.sec5__title {
	padding-top: 135px;
	margin-bottom: 50px;
	font-weight: 600;
	font-size: 2.29rem; 
	color: $green;
	
	@media (max-width: $tablet) {
		padding-top: 80px;
	}
	@media (max-width: $mobile-sm) {
		padding-top: 40px;
	}
}

.sec5__text {
	margin-bottom: 100px;
	font-size: 1.11rem; 
	
	@media (max-width: $tablet) {
		margin-bottom: 60px;
	}
	@media (max-width: $mobile-sm) {
		margin-bottom: 40px;
	}
}